@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .card-wrapper {
    transition: opacity 0.2s ease-in-out;
  }

  .fade-out {
    opacity: 0;
    transition: ;
  }

  .fade-in {
    opacity: 1;
  }
}