@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primart
}

* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  user-select: none;
  /* outline : 1px dotted red; */
}



body {
  font-family: 'Inter', sans-serif;


}

