@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-header: hsla(199, 79%, 16%, 0.997);
  --primary-text: hsla(347, 93%, 59%, 0.997);
  --text-color: hsla(199, 93%, 59%, 0.997);
  --bg-color: hsl(199, 81%, 83%);
  --card-bg-color:  hsla(199, 89%, 48%, 0.4);

}

* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  user-select: none;
  outline : 1px dotted red;
}



body {
  font-family: 'Inter', sans-serif;
}

